/*.calendar-container {        
    background: #f1f1f1;
    padding: 30px;
    margin-bottom: 30px;
    color: #999;
    font-weight: 400;
}
.calendar-month-header {
    text-align: center;
    text-transform: uppercase;
    color: #555;
    position: relative;    
}
.calendar-header {
    height: 48px;
}
.calendar-header .thead {
    height: 48px;
    margin-left: 3px;
}
.calendar-week-day {
    width: 28px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #999;
    float: left;
    cursor: pointer;
}
.calendar-week-day:hover,
.calendar-week-day:focus,
.calendar-week-day.hover {
    color: #555;
}
.calendar-row {
    height: 28px;
    margin-bottom: 10px;
    margin-left: 3px;
    overflow: hidden
}
.calendar-day {
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #999;
    cursor: pointer;
    float: left;
}
.calendar-day a {
    color: #999;
    display: block;
    text-decoration: none;
}

.calendar-day.today a {
    background-color: #4386f9;
    color: #fff;
}
.calendar-day.enabled a {
    color: #555;
}
.calendar-day a:hover  {
    background-color: #4386f9;
    color: #fff;
}
.calendar-day a:active {
    background-color: #4386f9;
    color: #fff;
}
.calendar-day.calendar-today a {
    background-color: #4386f9;
    color: #fff;
}
.calendar-day.active a {
    background-color: #4386f9;
    color: #fff;
}
.calendar-not-this-month {
    cursor: default;
    color: #999;
}
.calendar-not-this-month:hover {
    background: transparent; 
    color: #999;
}
.calendar-next-month-button,
.calendar-prev-month-button {
    position: absolute;
    top: 0px;     
    line-height: 20px;
    font-weight: 700;
    display: block;
    text-decoration: none;
    color: #555;
}
.calendar-next-month-button:hover,
.calendar-prev-month-button:hover {
    text-decoration: none;
    color: #4386f9;
}
.calendar-prev-month-button {
    left: 10px;
}
.calendar-next-month-button {
    right: 10px;
}*/

/****/
.calendar-container {
    background: #FEFEFE;
    -moz-box-shadow: 0px 4px 4px 0px rgba(9, 63, 179, 0.06), 0px 8px 18px 2px rgba(2, 11, 34, 0.08);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(9, 63, 179, 0.06), 0px 8px 18px 2px rgba(2, 11, 34, 0.08);
    box-shadow: 0px 4px 4px 0px rgba(9, 63, 179, 0.06), 0px 8px 18px 2px rgba(2, 11, 34, 0.08);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 10003;
    width: 236px;
    font-size: 15px;
    cursor: default;
    margin-top: 1px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    font-family: "ITCFranklinGothicW10-Md 862390", arial, sans-serif;
    font-weight: normal
}
.calendar-scroll-view {
    position: relative;
    overflow: auto;
    height: 353px
}
.calendar-scroll-view table {
    width: 100%;
    padding-bottom: 60px
}
.calendar-header {
    position: relative;
    left: 0;
    right: 0;
    border-bottom: 1px solid #E2E3E4;
    border-collapse: collapse;
    clear: left;
    height: 48px;
    font-size: 11px
}
.calendar-header .thead {
    height: 48px;
    padding-left: 20px
}
.calendar-row {
    height: 27px;
    margin-bottom: 7px;
    padding-left: 20px;
    overflow: hidden
}
.calendar-day {
    width: 26px;
    height: 24px;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    color: #020C22;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: background 400ms cubic-bezier(0.23, 1, 0.32, 1), color 400ms cubic-bezier(0.23, 1, 0.32, 1), border 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: background 400ms cubic-bezier(0.23, 1, 0.32, 1), color 400ms cubic-bezier(0.23, 1, 0.32, 1), border 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: background 400ms cubic-bezier(0.23, 1, 0.32, 1), color 400ms cubic-bezier(0.23, 1, 0.32, 1), border 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: background 400ms cubic-bezier(0.23, 1, 0.32, 1), color 400ms cubic-bezier(0.23, 1, 0.32, 1), border 400ms cubic-bezier(0.23, 1, 0.32, 1);
    float: left;
    border: 1px solid #FEFEFE
}
.calendar-grey .calendar-day {
    color: #B2B8C4
}
.calendar-day.today {
    background-color: #ECECEC;
    color: #0A3FB4
}
.calendar-day.enabled {
    color: #020C22
}
.calendar-day:hover {
    background: #eee;
    border-color: #eee
}
.calendar-day:active {
    background: #0A3FB4;
    color: #FEFEFE;
    border-color: #0A3FB4
}
.calendar-day.calendar-today {
    border-color: #eee
}
.calendar-day.active {
    background: #0A3FB4;
    border-color: #0A3FB4;
    color: #FEFEFE
}
.calendar-not-this-month {
    cursor: default;
    color: #020C22;
    background: none
}
.calendar-not-this-month:hover {
    background: transparent;
    border-color: transparent
}
.calendar-grey .calendar-not-this-month {
    color: #020C22
}
.calendar-week-day {
    width: 28px;
    height: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #B2B8C4;
    letter-spacing: 1px;
    float: left;
    -moz-transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1)
}
.calendar-week-day:hover,
.calendar-week-day:focus,
.calendar-week-day.hover {
    color: #020C22
}
.calendar-month-header {
    text-align: center;
    text-transform: uppercase;
    margin: 27px 0 9px;
    top: 0
}
.calendar-month-header>div {
    margin: auto;
    display: -moz-inline-stack;
    display: inline-block;
    width: 160px
}
.calendar-wrapper-date {
    padding-top: 20px;
    /*height: 27px;*/
    *zoom: 1;
    -moz-transition: -moz-transform 400ms cubic-bezier(0.23, 1, 0.32, 1), top 400ms cubic-bezier(0.23, 1, 0.32, 1), height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: -o-transform 400ms cubic-bezier(0.23, 1, 0.32, 1), top 400ms cubic-bezier(0.23, 1, 0.32, 1), height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1), top 400ms cubic-bezier(0.23, 1, 0.32, 1), height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), top 400ms cubic-bezier(0.23, 1, 0.32, 1), height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    white-space: nowrap;
    top: 0;
    position: relative;
    z-index: 1
}
.calendar-wrapper-date:before,
.calendar-wrapper-date:after {
    content: " ";
    display: table
}
.calendar-wrapper-date:after {
    clear: both
}
.csstransforms .calendar-wrapper-date {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.csstransforms3d .calendar-wrapper-date {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.calendar-wrapper-date.is-active-dropdown {
    overflow: visible
}
.calendar-wrapper-date.closed {
    top: -100%;
    height: 0;
    padding: 0
}
.csstransforms .calendar-wrapper-date.closed {
    top: 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}
.csstransforms3d .calendar-wrapper-date.closed {
    -moz-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}
.calendar-input-date {
    padding: 0 7px 0 20px;
    width: 144px;
    -moz-transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);
    display: inline-block;
    vertical-align: top
}
.is-active-input .calendar-input-date,
.is-hover-input .calendar-input-date {
    width: 189px
}
.calendar-input-date input {
    display: block;
    line-height: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 12px;
    color: #020C22;
    border: 1px solid #E2E3E4;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-indent: 10px;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s
}
.calendar-input-date input:-moz-placeholder {
    color: #B2B8C4
}
.calendar-input-date input::-webkit-input-placeholder {
    color: #B2B8C4
}
.calendar-input-date input:hover {
    border-color: #28DCB4
}
.calendar-input-date input:focus {
    outline: none;
    border-color: #28DCB4
}
.calendar-input-date input.error {
    border-color: #E6003E
}
.calendar-year-dropdown {
    /*padding: 0 20px 0 7px;*/
    width: 66px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    -moz-transition: -moz-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: -o-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1
}
.is-active-input .calendar-year-dropdown,
.is-hover-input .calendar-year-dropdown {
    left: 100%
}
.csstransforms .is-active-input .calendar-year-dropdown,
.csstransforms .is-hover-input .calendar-year-dropdown {
    left: 0;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0)
}
.csstransforms3d .is-active-input .calendar-year-dropdown,
.csstransforms3d .is-hover-input .calendar-year-dropdown {
    -moz-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}
.calendar-year-dropdown select {
    width: 100%;
    height: 25px;
    padding-left: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #FEFEFE;
    /*background-image: url("/static/img/svg/chevron_down.svg");*/
    background-size: 8px 5px;
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat;
    border: 1px solid #E2E3E4;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    color: #020C22
}
.calendar-year-dropdown select:hover {
    border: 1px solid #28DCB4;
    /*background-image: url("/static/img/svg/chevron_down_hover.svg");*/
    -moz-transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1)
}
.calendar-year-dropdown .dropdown {
    padding: 0;
    height: 25px;
    -moz-transition: border-color 400ms cubic-bezier(0.23, 1, 0.32, 1), background 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: border-color 400ms cubic-bezier(0.23, 1, 0.32, 1), background 400ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: border-color 400ms cubic-bezier(0.23, 1, 0.32, 1), background 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: border-color 400ms cubic-bezier(0.23, 1, 0.32, 1), background 400ms cubic-bezier(0.23, 1, 0.32, 1);
    /*background-image: url("/static/img/svg/chevron_down.svg");*/
    background-size: 8px 5px;
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat
}
.calendar-year-dropdown .dropdown:hover {
    /*background-image: url("/static/img/svg/chevron_down_hover.svg")*/
}
.calendar-year-dropdown .dropdown:before {
    display: none
}
.calendar-year-dropdown .dropdown .dropdown_list {
    border: 1px solid #28DCB4;
    border-top: 1px solid #E2E3E4;
    height: auto;
    text-align: center;
    max-height: 250px
}
.calendar-year-dropdown .dropdown .dropdown_list .list-item {
    line-height: 32px
}
.calendar-year-dropdown .dropdown .current-value {
    line-height: 25px;
    height: 25px;
    padding: 0 0 0 10px;
    display: inline;
    margin: 0;
    width: 100%;
    border: none;
    font-size: 13px;
    color: #B2B8C4
}
.calendar-next-month-button,
.calendar-prev-month-button {
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    bottom: 21px;
    background: none;
    font-weight: bold
}
.calendar-prev-month-button {
    left: 10px
}
.calendar-next-month-button {
    right: 10px
}
.calendar-help {
    display: none;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    height: 356px;
    border-top: 1px solid #E2E3E4;
    background: #F8F8F8;
    color: #626E8A;
    font-size: 13px;
    z-index: 12;
    padding: 26px 0 0;
    overflow: hidden
}
.calendar-help ul li {
    padding: 0 20px;
    display: block;
    margin-bottom: 5px;
    cursor: pointer
}
.calendar-help ul li.calendar-help-caption {
    cursor: auto
}
.calendar-help ul:focus {
    outline: none
}
.calendar-help .calendar-help-description {
    margin-bottom: 19px;
    padding: 0 20px;
    font-size: 15px
}
.calendar-help .calendar-help-caption {
    color: #0A3FB4
}
.calendar-help a {
    color: #0A3FB4;
    cursor: pointer
}
.calendar-input-date input.special-hidden {
    display: none;
}