body { padding-bottom: 0px; }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
a {
    color: #940000;
    text-decoration: none;
}
a:hover {
    color: #940000;
    text-decoration: underline;
}
.content{
    background: #fff;
}

.page-header {
    margin: 0px;
    margin-bottom: 30px;
    border-bottom: solid 1px #e6e6e6;
}
.page-header h3 {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    color: #1e1e1e;
    border: none;
    margin: 0px;
    padding-bottom: 5px;
}

a.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #940000 url("../images/up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
a:hover.back-to-top {
  background-color: #444;
} 

.cvRow {
    
}
.cvRow .cvBox {
    margin-bottom: 30px;
    padding-right: 7px;
    padding-left: 7px;
}
.cvRow .cvBox a {
    color: #222222;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    display: block;
}
.cvRow .cvBox .cvInner {
    background: #f5f5f5;
  border: solid 1px #f5f5f5;
    padding: 15px;
}
.cvRow .cvBox a:hover .cvInner{
    border: solid 1px #f5f5f5;
  background: #fff;
}
.cvRow .cvBox .cvInner .cvInfo {
    display: block;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -15px;
}
.cvRow .cvBox .cvInner .cvInfo .cvAppointment {
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    min-height: 45px;
    overflow: hidden;
}
.cvRow .cvBox .cvInner .cvInfo .cvName {
    font-weight: 100;
    font-size: 14px;
    word-wrap: break-word;
}
.cvRow .cvBox .cvInner .cvInfo .cvLastName {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.cvRow .cvBox a:hover .cvInner .cvInfo .cvName {
    color: #940000;
}
.cvRow .cvBox a:hover .cvInner .cvInfo .cvLastName {
    color: #940000;
}